@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.theme-dark, .theme-dark *, .theme-black, .theme-black *));
@custom-variant dark (&:where(.theme-dark, .theme-dark *, .theme-black, .theme-black *));
@custom-variant black (&:where(.theme-black, .theme-black *));

@theme {
    --color-primary-50: #e7e9e9;
    --color-primary-100: #d2d5d5;
    --color-primary-200: #a3a8a8;
    --color-primary-300: #777e7e;
    --color-primary-400: #4a4f4f;
    --color-primary-500: #202222;
    --color-primary-600: #191a1a;
    --color-primary-700: #141515;
    --color-primary-800: #0c0d0d;
    --color-primary-900: #070808;
    --color-primary-950: #020303;
    --color-bg-secondary: #1c1e21;
    --color-tertiary-50: #ecedee;
    --color-tertiary-100: #dcdde0;
    --color-tertiary-200: #b8bbc1;
    --color-tertiary-300: #9599a3;
    --color-tertiary-400: #727883;
    --color-tertiary-500: #53575f;
    --color-tertiary-600: #323439;
    --color-tertiary-700: #141517;
    --color-tertiary-800: #0e0f10;
    --color-tertiary-900: #070708;
    --color-tertiary-950: #020203;
    --color-accent-50: #dbfffa;
    --color-accent-100: #b8fff4;
    --color-accent-200: #70ffea;
    --color-accent-300: #2effe0;
    --color-accent-400: #00e6c3;
    --color-accent-500: #009f88;
    --color-accent-600: #00806c;
    --color-accent-700: #006152;
    --color-accent-800: #003d34;
    --color-accent-900: #001f1a;
    --color-accent-950: #000f0d;
    --custom-avatar-avatar-decoration-border-position: calc((1 - var(--decoration-to-avatar-ratio)) / 2 * 100%);
    --custom-button-button-xl-width: 148px;
    --custom-button-button-xl-height: 50px;
    --custom-button-button-lg-width: 130px;
    --custom-button-button-lg-height: 44px;
    --custom-button-button-md-width: 96px;
    --custom-button-button-md-height: 38px;
    --custom-button-button-sm-width: 60px;
    --custom-button-button-sm-height: 32px;
    --custom-button-button-tn-height: 24px;
    --custom-button-button-tn-width: 52px;
    --custom-button-link-underline-width: 1px;
    --custom-button-link-underline-offset: 1px;
    --custom-button-link-underline-stop: calc(var(--custom-button-link-underline-width) + var(--custom-button-link-underline-offset));
    --custom-button-filled-hover: 0.1;
    --custom-button-filled-active: 0.2;
    --custom-button-transition-duration: 170ms;
    --custom-modal-min-width-large: 800px;
    --animate-notification: notification 0.3s ease;
    --animate-modal: show-modal 0.4s ease;
    --animate-gs-modal: show-gs-modal 0.4s ease;
    --font-logo: "Edu AU VIC WA NT Hand";
}

.dc-win-button {
    -webkit-app-region: no-drag;
    @apply transition relative cursor-pointer w-12 h-9 flex justify-center items-center hover:bg-primary-600/50 dark:hover:bg-primary-400/50 text-black dark:text-white [.dc-win-button-close]:hover:bg-[#ff0000]/50 dark:[.dc-win-button-close]:hover:bg-[#ff0000]
}

  @layer base {
    * {
        @apply transition ease-in-out select-none
    }
    .accent-button {
      text-decoration: none;
      @apply bg-accent-500 hover:bg-accent-600 rounded-sm transition text-white cursor-pointer py-1 px-4;
    }
    .primary-button {
      text-decoration: none;
      @apply bg-primary-500 hover:bg-primary-700 rounded-sm transition text-white cursor-pointer py-1 px-4;
    }
    .close-modal {
        animation: close-modal 0.2s ease-in-out;
        transform: scale(0.5);
        opacity: 0;
    }
  }

@layer utilities {
    .region-drag {
        -webkit-app-region: drag;
    }
    .region-no-drag {
        -webkit-app-region: no-drag;
    }
    .no-scrollbar::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .content-visible {
        content-visibility: visible;
    }
}

#app-root {
    @apply bg-white dark:bg-primary-500 black:!bg-black
}

.dc-app-launcher {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-primary);
    cursor: pointer;
    color: var(--text-normal);
}

.dc-app-launcher:hover {
    background-color: var(--brand-500);
    color: var(--white);
    border-radius: 16px;
}

.dc-tooltip-normal-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
}

.dc-color-swatch {
    @apply rounded-full box-border size-10 border-2 border-primary-300 shrink-0 overflow-hidden flex flex-row flex-wrap
}

.dc-color-swatch-part {
    @apply size-[50%]
}

.dc-color-swatch:not(:has(> .dc-color-swatch-part:nth-child(2)))>.dc-color-swatch-part {
    @apply size-full
}

.dc-color-swatch:not(:has(> .dc-color-swatch-part:nth-child(3)))>.dc-color-swatch-part {
    @apply h-full
}

.dc-color-swatch:not(:has(> .dc-color-swatch-part:nth-child(4)))>.dc-color-swatch-part:nth-child(3) {
    @apply w-full
}

.dc-selector {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - (var(--spacing) * 0.25)));
    grid-auto-rows: max-content;
    width: 100%;
    scrollbar-width: none !important;
    box-sizing: border-box;
    overflow: hidden auto;
    @apply gap-0.5
}

.dc-selector[data-layout="compact"] {
    grid-template-columns: repeat(3, calc((100%/3) - 5.3333px));
}

.dc-selector[data-layout="compact"]>.dc-colorway {
    padding: 4px 6px;
    min-height: 38px;
}

.dc-selector[data-layout="compact"]>.dc-colorway .dc-subnote {
    display: none;
}

.dc-selector::-webkit-scrollbar {
    width: 0;
}

.dc-app-root {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
    background-color: #0a0a0c;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
}

.theme-light .dc-app-root {
    background-color: #f5f5f5;
    border-color: #d6d6d6;
}

@keyframes reveal-modal {
    from {
        translate: 0 -20px;
    }

    to {
        translate: 0;
    }
}

@keyframes reveal-modal-backdrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.75;
    }
}

.dc-modal.closing {
    animation: close-modal 0.2s ease-in-out;
    transform: scale(0.5);
    opacity: 0;
}

.dc-modal.hidden {
    animation: close-modal 0.2s ease-in-out;
    transform: scale(0.5);
    opacity: 0;
}

@keyframes show-modal {
    0% {
        transform: translateY(100%);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(4px);
    }
}

@keyframes show-gs-modal {
    0% {
        width: 82px;
        height: 46px;
        opacity: 0;
    }

    100% {
        width: 428px;
        height: 64px;
        opacity: 1;
    }
}

@keyframes close-modal {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.7);
        opacity: 0;
    }
}

.dc-divider {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    @apply border-b border-primary-400
}

.dc-switch {
    background-color: rgb(85 87 94);
    flex: 0 0 auto;
    position: relative;
    border-radius: 14px;
    width: 40px;
    height: 24px;
    cursor: pointer;
    @apply bg-primary-300 [.checked]:bg-accent-500
}

.dc-switch-label {
    flex: 1;
    display: block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--header-primary);
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    cursor: pointer;
}

.dc-note {
    color: var(--header-secondary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 8px;
    @apply text-primary-800 dark:text-primary-200
}

.dc-button {
    @apply select-none outline-none [.dc-button-outlined]:border [.dc-button-outlined]:border-transparent rounded-xl bg-transparent px-3 py-1 w-auto box-border items-center justify-center gap-2 flex cursor-pointer transition hover:bg-white/5 active:bg-white/1 min-w-[var(--custom-button-button-sm-width)] min-h-[var(--custom-button-button-sm-height)] h-[var(--custom-button-button-sm-height)] [.dc-button-md]:min-w-[var(--custom-button-button-md-width)] [.dc-button-md]:min-h-[var(--custom-button-button-md-height)] [.dc-button-md]:h-[var(--custom-button-button-md-height)] [.dc-button-lg]:min-w-[var(--custom-button-button-lg-width)] [.dc-button-lg]:min-h-[var(--custom-button-button-lg-height)] [.dc-button-lg]:h-[var(--custom-button-button-lg-height)] [.dc-button-xl]:min-w-[var(--custom-button-button-xl-width)] [.dc-button-xl]:min-h-[var(--custom-button-button-xl-height)] [.dc-button-xl]:h-[var(--custom-button-button-xl-height)] [.dc-button-tn]:min-w-[var(--custom-button-button-tn-width)] [.dc-button-tn]:min-h-[var(--custom-button-button-tn-height)] [.dc-button-tn]:h-[var(--custom-button-button-tn-height)] [.dc-button-icon]:px-1 [.dc-button-icon]:min-w-[var(--custom-button-button-sm-height)] [.dc-button-icon.dc-button-md]:min-w-[var(--custom-button-button-md-height)] [.dc-button-icon.dc-button-lg]:min-w-[var(--custom-button-button-lg-height)] [.dc-button-icon.dc-button-xl]:min-w-[var(--custom-button-button-xl-height)] [.dc-button-icon.dc-button-tn]:min-w-[var(--custom-button-button-tn-height)]
}

.dc-button.dc-button-primary {
    @apply [.dc-button-outlined]:border-primary-100 text-black not-[.dc-button-outlined]:bg-primary-100 hover:bg-primary-300 hover:border-primary-300 active:bg-primary-400 active:border-primary-400 dark:text-white dark:not-[.dc-button-outlined]:bg-primary-700 dark:[.dc-button-outlined]:border-primary-700 hover:dark:bg-primary-500 hover:dark:[.dc-button-outlined]:border-primary-500 active:dark:bg-primary-400 active:dark:[.dc-button-outlined]:border-primary-400
}

.dc-button.dc-button-secondary {
    @apply [.dc-button-outlined]:border-primary-200 text-black not-[.dc-button-outlined]:bg-primary-200 hover:bg-primary-300 hover:border-primary-300 active:bg-primary-400 active:border-primary-400 dark:text-white dark:not-[.dc-button-outlined]:bg-primary-700 dark:[.dc-button-outlined]:border-primary-700 hover:dark:bg-primary-500 hover:dark:[.dc-button-outlined]:border-primary-500 active:dark:bg-primary-400 active:dark:[.dc-button-outlined]:border-primary-400
}

.dc-button.dc-button-danger {
    @apply bg-red-600/75 text-black dark:text-white [.dc-button-outlined]:border-red-600/75 hover:bg-red-700/75 hover:border-red-700/75 active:bg-red-800/75 active:border-red-800/75
}

.dc-button.dc-button-brand {
    @apply bg-accent-500 text-black dark:text-white not-[.dc-button-outlined]:text-white [.dc-button-outlined]:border-accent-500 hover:bg-accent-600 hover:border-accent-600 active:bg-accent-700 active:border-accent-700 hover:text-white active:text-white
}

.dc-page-header {
    @apply transition flex text-black dark:text-white shrink-0 items-center gap-2 justify-center w-full
}

.dc-discordserverlist-listitem {
    position: relative;
    margin: 0 0 8px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
}

.dc-textbox {
    @apply bg-primary-200/50 dark:bg-primary-800/50 hover:bg-primary-200/75 hover:dark:bg-primary-800/75 outline-none text-black dark:text-white pl-3 box-border w-full rounded-md transition h-10
}

.dc-codeblock {
    border-radius: 6px;
    background-color: #101012;
    padding: 10px;
    border: 1px solid transparent;
    display: block;
}

.dc-textbox::-webkit-outer-spin-button,
.dc-textbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.theme-light .dc-textbox {
    color: #000;
    background-color: #f0f0f0;
}

.theme-light .dc-codeblock {
    background-color: #f0f0f0;
}

.dc-textbox:hover,
.dc-textbox:focus,
.dc-textbox:has(:focus),
.dc-codeblock:hover,
.dc-codeblock:focus {
    background-color: #1a1a1a;
}

.theme-light .dc-textbox:hover,
.theme-light .dc-textbox:focus,
.theme-light .dc-textbox:has(:focus),
.theme-light .dc-codeblock:hover,
.theme-light .dc-codeblock:focus {
    background-color: #e6e6e6;
}

.dc-textbox:focus,
.dc-textbox:has(:focus),
.dc-codeblock:focus {
    border-color: #a6a6a6;
}

.theme-light .dc-textbox:focus,
.theme-light .dc-textbox:has(:focus),
.theme-light .dc-codeblock:focus {
    border-color: #595959;
}

.dc-tooltip-header {
    background-color: var(--background-primary);
    padding: 2px 8px;
    border-radius: 16px;
    height: min-content;
    color: var(--header-primary);
    margin-bottom: 2px;
    display: inline-flex;
    margin-left: -4px;
}

.is-mobile .dc-selector {
    justify-content: space-around;
    gap: 10px;
}

.dc-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dc-spinner-inner {
    transform: rotate(280deg);
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    contain: paint;
}

@keyframes spinner-spinning-circle-rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes spinner-spinning-circle-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 130, 200;
    }

    100% {
        stroke-dasharray: 130, 200;
        stroke-dashoffset: -124;
    }
}

.dc-spinner-svg {
    animation: spinner-spinning-circle-rotate 2s linear infinite;
    height: 100%;
    width: 100%;
}

.dc-spinner-beam {
    animation: spinner-spinning-circle-dash 2s ease-in-out infinite;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    fill: none;
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke: currentcolor;
}

.dc-spinner-beam2 {
    stroke: currentcolor;
    opacity: 0.6;
    animation-delay: 0.15s;
}

.dc-spinner-beam3 {
    stroke: currentcolor;
    opacity: 0.3;
    animation-delay: 0.23s;
}

@utility colorway-pure {
    @apply box-border min-h-[56px] border border-transparent flex transition rounded-sm px-4 py-2 justify-start gap-2 cursor-pointer bg-primary-100 text-primary-800 dark:bg-primary-600 black:bg-primary-800 dark:text-primary-200 hover:bg-primary-200 dark:hover:bg-primary-700 items-center [[aria-checked="true"]]:bg-primary-200 dark:[[aria-checked="true"]]:bg-primary-800;
}

@utility colorway-danger {
    @apply bg-red-600/50 hover:bg-red-700/50 active:bg-red-800/50;
}

.dc-colorway {
    @apply colorway-pure last:odd:w-[calc(200%+0.125rem)] last:odd:rounded-b-2xl last:even:rounded-br-2xl odd:nth-last-[2]:rounded-bl-2xl first:last:rounded-2xl first:rounded-tl-2xl nth-[2]:rounded-tr-2xl first:nth-last-[2]:rounded-l-2xl last:nth-[2]:rounded-r-2xl;
}

@keyframes loading-bar {
    0% {
        left: 0;
        right: 100%;
        width: 0;
    }

    10% {
        left: 0;
        right: 75%;
        width: 25%;
    }

    90% {
        right: 0;
        left: 75%;
        width: 25%;
    }

    100% {
        left: 100%;
        right: 0;
        width: 0;
    }
}

.dc-badge {
    font-size: 0.625rem;
    text-transform: uppercase;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    text-indent: 0;
    flex: 0 0 auto;
    height: 15px;
    padding: 0 4px;
    margin-top: 5px;
    @apply rounded-xs bg-accent-500 text-white
}

.dc-warning-card {
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--info-warning-background);
    border-color: var(--info-warning-foreground);
    color: var(--info-warning-text);
}

.dc-colorway-selector::before {
    -webkit-mask: var(--si-appearance) center/contain no-repeat !important;
    mask: var(--si-appearance) center/contain no-repeat !important;
}

.dc-colorway-settings::before {
    -webkit-mask: var(--si-vencordsettings) center/contain no-repeat !important;
    mask: var(--si-vencordsettings) center/contain no-repeat !important;
}

.dc-colorway-sources-manager::before {
    -webkit-mask: var(--si-instantinvites) center/contain no-repeat !important;
    mask: var(--si-instantinvites) center/contain no-repeat !important;
}

.dc-colorway-store::before {
    -webkit-mask: var(--si-discovery) center/contain no-repeat !important;
    mask: var(--si-discovery) center/contain no-repeat !important;
}

.dc-info-card {
    border-radius: 5px;
    border: 1px solid var(--blue-345);
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.theme-dark .dc-info-card {
    color: var(--white-500);
}

.theme-light .dc-info-card {
    color: var(--black-500);
}

.dc-label {
    margin-right: auto;
    margin-top: 0 !important;
    margin-left: 0.5rem;
    font-family: bootstrap-icons, var(--font-primary);
    /* stylelint-disable-next-line value-keyword-case */
    text-rendering: optimizeLegibility;
    @apply text-black dark:text-white
}

.dc-subnote {
    color: var(--header-secondary);
    overflow: hidden overlay;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 23px;
}

.dc-label-wrapper {
    @apply min-w-0 flex flex-col w-full
}

@keyframes notification {
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.dc-modal {
    @apply animate-modal min-w-[400px] pb-[4px] transform-[translateY(4px)] relative min-h-0 pointer-events-auto bg-white dark:bg-primary-500 black:bg-black shadow-2xl shadow-primary-800 transition m-0 p-0 text-black dark:text-white w-screen h-fit rounded-t-2xl border-none md:border-solid md:border-1 flex flex-col md:border-primary-200 md:dark:border-primary-400
}

.dc-modal-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    padding-top: 26px;
    overflow: hidden auto;
    @apply mb-auto md:mb-0
}

*::-webkit-scrollbar {
    width: 0;
}

.dc-menu-tabs {
    @apply flex w-fit p-1 rounded-lg bg-primary-100 dark:bg-primary-600 gap-1
}

.dc-menu-tabs .dc-button {
    width: fit-content;
    display: inline-flex;
}

.dc-modal-footer {
    @apply w-full p-2 flex flex-row-reverse gap-1
}

.dc-modal-header {
    margin: 0;
    font-weight: normal;
    font-size: 1.25em;
    padding: 16px;
    color: var(--text-normal);
}

.dc-field-header {
    margin-bottom: 8px;
    display: block;
    font-family: var(--font-display);
    font-size: 12px;
    line-height: 1.3333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: var(--header-secondary);
    @apply text-primary-800 dark:text-primary-200
}

.dc-field-header-error {
    color: #FF0000;
}

.dc-field-header-errormsg {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
}

.dc-field-header-errordiv {
    padding-left: 4px;
    padding-right: 4px;
}

.dc-cid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    width: 100%;
}

.dc-cid-wrapper>.dc-colorway {
    width: 100%;
}

.dc-contextmenu {
    @apply relative z-5 rounded-sm bg-white dark:bg-primary-500 shadow-xs shadow-primary-800 p-1 flex flex-col gap-1 transition
}

.dc-contextmenu-item {
    @apply gap-6 shrink-0 flex box-border px-4 py-2 min-h-[32px] cursor-pointer items-center justify-between text-black dark:text-white rounded-sm hover:bg-primary-100 dark:hover:bg-primary-600 transition
}

.dc-contextmenu-divider {
    @apply m-1 box-border border-b dark:border-primary-300 border-primary-700 shrink-0
}

.dc-radio-selected {
    @apply fill-black dark:fill-white
}

.dc-tooltip {
    color: var(--text-normal);
    pointer-events: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    max-width: 190px;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    will-change: opacity, transform;
    position: fixed;
    @apply bg-primary-100 dark:bg-primary-800 text-black dark:text-white shadow-md shadow-primary-800/50 rounded-xl
}

.dc-tooltip.dc-tooltip-hidden {
    transform: scale(0.95);
    opacity: 0;
}

.dc-tooltip-right {
    transform-origin: 0% 50%;
}

.dc-tooltip-pointer {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-width: 5px;
    pointer-events: none;
    border-top-color: var(--background-floating);
    @apply border-t-primary-100 dark:border-t-primary-800
}

.dc-tooltip-right>.dc-tooltip-pointer {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-left-width: 5px;
    transform: rotate(90deg);
}

.dc-tooltip-top>.dc-tooltip-pointer {
    position: absolute;
    right: 50%;
    top: 100%;
    margin-right: -5px;
    border-bottom-width: 5px;
    transform: rotate(0deg);
}

.dc-tooltip-content {
    padding: 8px 12px;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.dc-wordmark {
    font-family: "Edu AU VIC WA NT Hand";
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 0;
    @apply text-black dark:text-primary-100
}

.dc-wordmark-colorways {
    font-family: var(--font-display);
    font-size: 24px;
    background-color: var(--brand-500);
    padding: 0 4px;
    border-radius: 4px;
}

.visual-refresh .dc-wordmark-colorways {
    border-radius: 8px;
    padding: 0 8px;
    border: 1px solid var(--border-strong);
    font-family: "Edu AU VIC WA NT Hand", cursive;
    line-height: 32px;
    display: inline-block;
}

.visual-refresh .dc-app-launcher {
    width: 44px;
    height: 44px;
}

.dc-discordserverlist-listitem-pill {
    width: 4px;
    margin-left: -4px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--header-primary);
    border-radius: 0 4px 4px 0;
}

.dc-discordserverlist-listitem-pill[data-status="hover"],
.dc-discordserverlist-listitem-pill[data-status="active"] {
    margin-left: 0;
    height: 20px;
}

.dc-discordserverlist-listitem-pill[data-status="active"] {
    height: 40px;
}

.dc-manager-active {
    color: #fff;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(16px);
    z-index: 1;
}

.dc-selector-spinner {
    width: 32px;
    color: #fff;
    transform: scale(.8);
}

.dc-selector-spinner-hidden {
    display: none;
}

.dc-selector-header {
    display: flex !important;
    gap: 4px !important;
    padding: 4px !important;
    height: fit-content !important;
}

.dc-selector-header .dc-button,
.dc-textbox-trail .dc-button {
    flex: 0 0 auto;
}

.dc-selector-header .dc-textbox {
    height: 32px !important;
    background-color: transparent !important;
    border: none !important;
}

.dc-contextmenu-label {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    padding: 6px 8px;
    text-transform: uppercase;
    font-family: var(--font-display);
    @apply shrink-0 select-none pt-1 pb-0 text-xs font-extrabold text-primary-700 dark:text-primary-200
}

.dc-switch-handle {
    display: block;
    position: absolute;
    width: 28px;
    height: 18px;
    margin: 3px;
}

.dc-feature-icon {
    @apply flex justify-center items-center rounded-full mx-8 bg-primary-100 dark:bg-primary-600 p-4 w-fit
}

.colorwaysFeatureIconLabel {
    text-align: center;
    height: fit-content;
    padding-top: 16px;
}

.colorwaysFeaturePresent {
    display: grid;
    grid-template-columns: repeat(3, 144px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    height: fit-content;
    min-height: unset;
    align-items: center;
}

.saturation-white {
    background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.saturation-black {
    background: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.hue-horizontal {
    background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    background: -webkit-linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

.hue-vertical {
    background: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%,
            #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    background: -webkit-linear-gradient(to top, #f00 0%, #ff0 17%,
            #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

.colorwaysSaveAsSwatch {
    @apply w-full h-[48px] flex items-center justify-center rounded-xl border border-primary-400/20 cursor-pointer relative
}

.colorwayCustomColorpicker {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 16px;
    gap: 16px;
    border: 1px solid var(--border-subtle);
    background-color: var(--background-primary);
    border-radius: 4px;
    box-shadow: var(--elevation-high);
}

.colorwayCustomColorpicker-suggestedColor {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--primary-400);
}

.colorwayCustomColorpicker-suggestedColors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.colorwayCustomColorpicker-inputContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.colorwayCustomColorpicker-eyeDropper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0;
}

.colorwayCustomColorpicker-inputWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.colorwaysDoubleSetting {
    display: flex;
    flex-direction: row;
}

.colour-input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dc-discordsettings-itm {
    padding: 6px 10px;
    border-radius: 4px;
    color: var(--interactive-normal);
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
}

.dc-discordsettings-itm:hover {
    background-color: var(--background-modifier-hover);
}

.visual-refresh .dc-discordsettings-itm:hover {
    background-color: var(--button-secondary-background-hover);
}

.dc-discordsettings-itm .dc-label-Settings {
    font-family: var(--font-display);
    font-size: 12px;
    line-height: 1.3333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: var(--channels-default);
}

.dc-circle-selection {
    box-sizing: border-box;
    border-radius: 50%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    cursor: default;
    pointer-events: none;
    box-shadow: inset 0 0 0 2px var(--color-accent-500), inset 0 0 0 4px var(--color-primary-500);
}

.dc-circle-selection-check {
    position: absolute;
    right: 0;
    color: var(--color-accent-500);
}

.dc-color-swatch-selectable {
    box-sizing: border-box;
    position: relative;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.dc-color-swatch-selectable>.dc-color-swatch {
    height: 60px;
    width: 60px;
}

.dc-changelog-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 40px;
    max-width: 500px;
}

.dc-changelog-title::after {
    content: "";
    height: 1px;
    flex: 1 1 auto;
    margin-left: 4px;
    opacity: .6;
}

.dc-changelog-title-improved {
    color: var(--text-brand);
}

.dc-changelog-title-improved::after {
    background-color: var(--text-brand);
}

.dc-changelog-title-added {
    color: var(--text-positive);
}

.dc-changelog-title-added::after {
    background-color: var(--text-positive);
}

.dc-changelog-title-fixed {
    color: var(--text-danger);
}

.dc-changelog-title-fixed::after {
    background-color: var(--text-danger);
}

.dc-changelog-title-progress {
    color: var(--text-warning);
}

.dc-changelog-title-progress::after {
    background-color: var(--text-warning);
}

.dc-changes-list {
    margin: 20px 0 8px 20px;
    max-width: 480px;
}

.dc-change {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.dc-change::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    margin-left: -3px;
    border-radius: 50%;
    opacity: .3;
}

.theme-dark .dc-change::before {
    background-color: #e3e5e8;
}

@supports (color:rgba(0, 0, 0, 0))and (top:var(--f)) {
    .theme-dark .dc-change::before {
        background-color: hsl(216deg calc(9.8%* 1) 90%);
    }
}

.theme-light .dc-change::before {
    background-color: #80848e;
}

@supports (color:rgba(0, 0, 0, 0))and (top:var(--f)) {
    .theme-light .dc-change::before {
        background-color: hsl(223deg calc(5.8%* 1)52.9%);
    }
}

.dc-footer-social-link {
    margin-right: 16px;
    color: var(--text-link);
    text-decoration: var(--link-decoration);
}

.theme-dark .dc-footer-social-link {
    color: var(--primary-300);
}

.theme-light .dc-footer-social-link {
    color: var(--black-500);
}

.dc-footer-note {
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.3333;
    font-weight: 400;
    color: var(--text-normal);
}

.dc-modal-header-subtitle {
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.3333;
    font-weight: 400;
    color: var(--text-normal);
}

.theme-dark .dc-changelog-desc,
.theme-dark .dc-change {
    color: #c4c9ce;
}

@supports (color:rgba(0, 0, 0, 0))and (top:var(--f)) {

    .theme-dark .dc-changelog-desc,
    .theme-dark .dc-change {
        color: hsl(210deg calc(9.3%* 1)78.8%);
    }
}

.theme-ight .dc-changelog-desc,
.theme-light .dc-change {
    color: #80848e;
}

@supports (color:rgba(0, 0, 0, 0))and (top:var(--f)) {

    .theme-ight .dc-changelog-desc,
    .theme-light .dc-change {
        color: hsl(223deg calc(5.8%* 1)52.9%);
    }
}

.dc-changelog-desc {
    max-width: 500px;
}

.dc-select-popout {
    position: absolute;
    min-height: 0;
    flex: 1 1 auto;
    box-sizing: border-box;
    border: 1px solid var(--background-tertiary);
    background: var(--background-secondary);
    border-radius: 0 0 4px 4px;
    overflow: hidden scroll;
    scrollbar-width: none;
    top: 36px;
    left: 0;
    z-index: 10000;
}

.dc-select-option {
    padding: 12px;
    cursor: pointer;
    color: var(--interactive-normal);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
}

.dc-select-option[aria-selected="true"] {
    color: var(--interactive-active);
    background-color: var(--background-modifier-selected);
}

.dc-select-selected {
    display: flex;
    align-items: center;
    gap: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dc-select-caret {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dc-select {
    background-color: var(--input-background);
    color: var(--text-normal);
    font-weight: 500;
    border: 1px solid var(--input-background);
    padding: 8px 8px 8px 12px;
    cursor: pointer;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.dc-textbox-trail {
    display: contents;
}

@media (max-width:480px) {
    .dc-app-root {
        flex-direction: column-reverse;
    }

    .dc-app-sidebar {
        flex-direction: row;
        width: calc(100% - 16px);
        margin: 8px;
        margin-top: 0;
        height: 66px;
        justify-content: stretch;
        align-items: center;
    }

    .dc-app-sidebar>.dc-button {
        width: 100%;
    }

    #dc-app-sidebar-expand {
        display: none;
    }

    .dc-modal-content {
        height: 100%;
        max-width: calc(100dvw - 32px);
    }
    .dc-textbox .dc-textbox {
        border: 1px solid transparent !important;
    }

    .dc-textbox .dc-textbox:hover,
    .dc-textbox .dc-textbox:focus {
        background-color: #1a1a1a !important;
    }

    .theme-light .dc-textbox .dc-textbox:hover,
    .theme-light .dc-textbox .dc-textbox:focus {
        background-color: #e6e6e6 !important;
    }

    .dc-textbox .dc-textbox:focus {
        border-color: #a6a6a6 !important;
    }

    .theme-light .dc-textbox .dc-textbox:focus {
        border-color: #595959 !important;
    }
    .dc-textbox-trail {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
    }
    .dc-selector-header {
        flex-direction: column;
        background-color: transparent !important;
        border: none;
        padding: 0;
    }
    .dc-selector-header > .dc-textbox,
    .dc-selector-header .dc-button {
        flex-shrink: 0;
    }
    html, body {
        height: 100dvh;
        width: 100dvw;
        max-height: 100dvh;
        max-width: 100dvw;
    }
    .dc-modal-content {
        padding-top: 16px;
    }
    .dc-selector {
        grid-template-columns: repeat(1, 100%);
    }
}
